body {
	height: 100%;
	background: #DEDEDE url(../pics/bg-slice.jpg) repeat-x left top; /* #b6b7bc;*/
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    margin-right: 50px;
    padding: 0px;
    color: #696969;
}


h1 {
	font-size: 15px;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #5C80B1;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

.alt td {
	background-color: white;
}

label.wide {
	float: left;
	display: block;
}

/*----------------------------
						Layout
----------------------------*/

#footer {
	font-size: .9em;
	width: 90%;
	padding: 5px 0 15px 30px;
    margin: 5px 0 10px 0;
}

#footer a {
	color: #444;
}

#RightList {
    padding:0;
    margin: 50px 0 0 0;
    list-style: none;
}

#RightList li
{
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #ccc;
}

#RightList li a
{
    color: #444;
    font-size: 1.2em;
}

#RightList li a.selected
{
    color: #444;
    font-weight:bolder;
}
    

.banner {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

.banner-links {
    width: 450px;
    float:right;
    overflow:hidden;
    text-align: right;
    padding-right: 40px;
    padding-top: 5px;
}

.be-logo {
    background: url( '../pics/logo.png' ) 40px 0px no-repeat;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 400px;
    float: left;
}

.be-logo span {
    position: relative;
    top: 24px;
    left: 170px;
    font: bold 1.1em Verdana, Arial, Helvetica, sans-serif;
}

/*  */

.content-box {
    clear:both;
    padding: 10px 25px;
    margin: 0;
    min-height: 350px;
    background: #FFFFFF url(../pics/bx-slice.jpg) repeat-x left top;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.content-box-wraper { 
	 width: 100%;
     margin: 0 20px;
	-moz-border-radius: 10px;
    -khtml-border-radius: 10px
    -webkit-border-radius: 10px;
    border-radius: 10px;
	min-height: 350px;
	display: inline-block;
	overflow: hidden;
}
.content-box-hdr {
    background: #FFFFFF url(../pics/bx-slice.jpg) repeat-x left top; 
    border-bottom: 1px solid #ccc; 
    margin: 0; 
    padding: 10px; 
}
.content-box-outer {
    border: 0px solid #ccc; 
    display: block; 
    min-height: 300px; 
    margin: 0;
    padding-bottom: 20px;
}
.content-box-left{
    width: auto; 
    height: auto; 
    padding: 20px; 
    margin-right: 200px; 
    background: #FFF;
}
.content-box-right {
    border-left: 1px solid #ccc; 
    width: 200px; 
    float: right; 
    min-height: 300px; 
    background: #F8F8F8; 
}
.content-box-right div {
    border-bottom: 1px solid #ccc; 
    padding: 10px; 
    font-weight: bold; 
}
.content-box-right div a {
    text-decoration: none; 
}
.content-box-selected {
    background: #FFF; 
    position: relative; 
    left: -1px; border-left: 0; 
}
.content-box-left, .content-box-right {
	padding-bottom: 1000em;
	margin-bottom: -999.5em;
}
* html .content-box-outer {height: 1%;}

/*  */

.banner h1 {
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	margin: 0px;
	letter-spacing: 1px;
	color: Silver;
}

.banner h2 {
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	color: Silver;
}

.main {
	border-style: solid;
	border-width: 1px;
	border-color: #B8C1CA;
	padding: 45px 10px 3px 10px;
	background-color: #F1F1F1;
	border-top: solid 1px #B8C1CA;
}

.settings {
	padding: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}

.settings h1 {
	margin: 0 0 10px 0;
	border-bottom: 1px solid silver;
}

.settings label {
	float: left;
	width: 200px;
}

.settings .cbox {
	padding: 2px 0 2px 0;
}

.settings .ddown {
	margin:0;
	padding:0;
}

.settings .ddown label {
	width: 200px;
	margin-top: 8px;
	margin-right: 3px;
}

.settings .cbox label {
	margin-top: 2px;
	font-size:1em;
}

.nowidth label {
	float: none;
	width: 0px;
}

td.label{
	vertical-align: top;
	padding-top: 5px;
}

.settings span label{
	float: none;
	display: inline;
	width: auto;
	padding-right: 20px;	
}

.settings span input[type="radio"]{
	border: none;
}

/*----------------------------
					Referrers
----------------------------*/

table.referrer td {
	padding: 2px 0;
	border-bottom: 1px solid silver;
}

table.referrer tr.alt td {
	background-color: White;
}

table.referrer caption {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 8px;
  display: block;
}

/*----------------------------
					Category
----------------------------*/

.category td {
	padding: 2px 10px;
  vertical-align: top;
}

.category td input {
	width: 200px;
}

.category td textarea {
	height: 70px;
	width: 400px;
}

/*- Menu Tabs --------------------------- */

.tabs .current {
	font-weight: bolder;
	color: Blue;
}

.tabs {
	float: left;
	width: 100%;
	font-size: 93%;
	line-height: normal;
	margin: 0;
	padding: 0; 
}

.tabs ul {
	margin: 0;
	padding: 0 0 1px 30px;
	list-style: none;
	position: relative;
	top: 1px;
}

.tabs li {
	display: inline;
	margin: 0;
	padding: 0;
}

.tabs a {
	float: left;
	background: url( "images/tableftB.gif" ) no-repeat left top;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
    text-transform: capitalize;
}

.tabs a span {
	float: left;
	display: block;
	background: url( "images/tabrightB.gif" ) no-repeat right top;
	padding: 5px 15px 4px 6px;
	color: #666;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs a span {
	float: none;
}

/* End IE5-Mac hack */
.tabs a:hover span {
	color: #000;
}

.tabs .current {
	background-position: 0% -42px;
}

.tabs .current span {
	background-position: 100% -42px;
}

/*-------------*/

.main input[type="submit"], .main input[type="button"] {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #B8C1CA;
}


.main input[type="submit"]:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

.settings input[type="submit"], .settings input[type="button"] {
	color: #666;
	background: #F1F1F1;
	border: 1px solid #B8C1CA;
}

.settings input[type="submit"]:hover, .settings input[type="button"]:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

input, select, textarea {
	color: #666;
	background: #FFFFFF;
	border: 1px solid #B8C1CA;
}

input[type="file"]:hover {
	cursor: pointer;
}

input[type="checkbox"] {
	border: none;
	background: none;
}

.info {
	background: url(images/info.gif) right top no-repeat;
	padding:15px 50px 10px 15px;
	border: 1px solid #ccc; 
}

/* Extension settings */
.mgr input, select {
    margin: 5px 0 5px 0;
}
.mgrRadioList {
    border: 1px solid #ccc;
    margin: 5px 0 5px 0;
}
.mgrRadioList td {
    height:25px; 
    display:table-cell;
}
.mgrRadioList input {
    float:left; 
    width: 20px; 
    height: 20px; 
    border:0; 
}
.mgrRadioList label {
    display:inline-table; 
    float:right; 
    height:20px; 
    width:100px; 
    margin:7px 0 0 5px;
}
.mgrCheck {
    margin-top: 6px; 
    padding-right:5px; 
}
.mgrCheckLbl {
    margin-bottom:8px;
}
/*-----------------------------*/

#tagselector{
	background: white;
	border: 3px solid gray;
	width: 500px;	
	position: absolute;
	left: 553px;
	bottom: 40px;
	padding-bottom: 10px
}

#tagselector a{
	display: block;
	float: left;
	margin-right: 10px;
	padding: 2px 4px;
}

#contentTable {
    width: 100%;
}

.photo {
    width: 28px;
    border: 1px solid #ccc;
}

.gravatar {
    width: 38px;
    border: 0;
}

#StatusBox {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    display:block;
    width: 100%;
    z-index: 999;
}

.success, .warning, .validation {
    border: 1px solid #ccc;
    margin: 0;
    padding:8px 5px 8px 60px;
    background-repeat: no-repeat;
    background-position: 25px 5px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../pics/success.png');
    
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../pics/warning.png');
}

#ctl00_cphAdmin_cblCategories td {
    display: inline;
    white-space: nowrap;
}

/*-------------------------------------*/
.beTable {
	border: 1px solid #ccc;
	margin: 10px 0;
	width: 100%;
	/*font-family: Georgia, serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
}

.beTable th {
	padding: 2px 5px;
	text-align: left;
}

.beTable td {
	padding: 5px;
	margin: 0;
}

.beTable a{
	color: #444;
}

.beTableHdr {
    height: 30px;
    margin-bottom: 5px;
}

.rounded {
	-moz-border-radius: 5px;
    -khtml-border-radius: 5px
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.SectionHeader {
	font-size: 20px;
}

.addNew {
	color: #444;
	margin-left: 20px;
}

#frmAddNew {
	display:block;
	border: 1px solid #ccc;
	padding: 10px;
}

.tblForm td {
    padding: 0 10px 0 0;
}

.tblForm label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0 10px 0 0;
}

.tblForm input[type="text"], .tblForm input[type="password"], .tblForm select, .tblForm textarea {
    border: 1px solid #CCC;
    padding: 5px;
    margin: 2px 0;
}
.tblForm input[type="checkbox"] {
    margin: 9px 7px 3px 0;
}

.tblForm input[type="radio"] 
{
    border: none;
    margin: 7px 5px 7px 0;
}

.tblForm td span label {
    padding: 0 10px 0 0;
}

.w300 { width: 300px; }

.subsection {
    display: block;
    clear: both;
    /*padding: 10px;
    margin: 10px 0;*/
}

.subsection2cols {
    width: 510px;
    display:inline-block;
    min-height: 20px;
}

.subsectioncol1 {
    width: 250px;
    float:left;
}

.subsectioncol2 {
    width: 250px;
    float:right;
}

.sectionRow {
    vertical-align: middle;
    padding: 2px 0;
}

.sectionRow .lbl200 {
    margin-top: 0;
}

.txt {
	border: 1px solid #CCC;
    padding: 5px;
    margin: 2px 0;
}

.txt200 {
	border: 1px solid #CCC;
    padding: 5px;
    margin: 2px 0;
	width: 200px;
}

.lbl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0 10px 0 3px;
}

.lbl100 {
	display:block;
	float:left;
	width: 100px;
	padding: 10px 0 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.lbl150 {
	display:block;
	float:left;
	vertical-align:bottom;
	width: 150px;
	padding: 3px 0;
	margin-top: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.lbl200 {
	display:block;
	float:left;
	vertical-align:bottom;
	width: 200px;
	padding: 3px 0;
	margin-top: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

fieldset {
    padding: 10px;
    margin: 10px 0;
}

legend {
    color: #696969;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
    padding: 0 10px;  
    margin-left: 5px;  
}

.btn {
	color: #000000;
	background: #F8F8F8;
	border: 1px solid #B8C1CA;
	padding: 5px 10px;
	margin: 5px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.btn:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

label.error {
  color: red;
  padding-left: 5px;
}

#EditCommentLeftBox label.error {
  color: red;
  margin-left: 100px;
}

.req {
	color: red;
}

.hidden {
	display:none;
}

.clear {
    clear:both;
}

.comment_auth {
    font-weight:bold;
}

.action_buttons {
    display:block;
    padding-left: 60px;
}

.loader {
    width: 24px;
    height:24px;
    display:inline-block;
    border: 0;
    position:relative;
    top:-4px;
    background: url('../pics/ajax-loader.gif') 0px 0px no-repeat;
    /*display: none;*/
}

.comment_date, comment_time {
    display:block;
    padding: 2px 0;
}
