/* General styles */
/* ------------------------------*/
body { background: #e7e7e7 url(images/bkg.png) repeat fixed 0 0; line-height:150%;
    font-size: 13px; font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;  margin: 10px 40px; padding: 0px; color: #555; }
    
h1, h2, h3, h4, h5, h6 { margin:0 0 20px; padding:0;}

h1 { font-size:20px; font-weight:bold; border-bottom:solid 1px #dcdcdc;padding:0 0 10px}
h2 { font-size:18px; font-weight:bold;padding:0 0 10px}
h3 { font-size:14px; font-weight:bold;padding:0 0 10px}

a, a:visited {	text-decoration: none; color: #ce3900; position:relative;}
a:hover {text-decoration: underline;}
a:active { top:1px;}
img {border: none;}
.clear { clear:both; float:none;}
.alt td {background-color: white;}
label.wide {float: left;display: block;}
.rounded { -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius: 5px; border-radius:5px;}
.toprounded {border-top-left-radius:5px; border-top-right-radius:5px; 
    -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; }
.botomrounded {border-bottom-left-radius:5px; border-bottom-right-radius:5px; 
    -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; }

/* Header */
/* ------------------------------*/
.header {width: 100%; height: 60px; background/*: transparent url(images/toolbox-bkg.png) no-repeat scroll right top;*/}
.toolbox {width: 450px; float:right; overflow:hidden; text-align: right; margin-top:15px; margin-right:40px; }
.be-logo { background: url( '../pics/logo.png' ) 40px 0px no-repeat; height: 60px;  margin: 0; width: 200px;  float: left;}
.be-logo span { position: relative; top: 20px; left: 210px; }

/* Tabs */
/* ------------------------------*/
.tabs {	line-height: normal; margin: 0; padding: 0; overflow:hidden; font-size:12px;border-right:solid 1px #b5b5b5;
       	background:transparent url(images/transparent-gray-bkg.png) repeat scroll 0 0; padding:10px 0 0 0;}
.tabs ul { margin: 0 40px; padding:0; list-style: none;}
.tabs li { float:left; display:block; margin:0 5px 0 0;}
.tabs a {float: left; padding:10px 15px; text-decoration: none; text-transform: capitalize; color:#000; font-weight:bold;
    border-right:solid 1px transparent; border-left:solid 1px transparent; opacity:0.5; filter:alpha(opacity=50);
    border-top-left-radius:5px; border-top-right-radius:5px; 
    -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;}
.tabs a:hover, .tabs .current {color: #000;background: url( "images/tab-bkg.png" ) repeat-x scroll left top;
    border-right:solid 1px #9a9a9a;border-left:solid 1px #fff; opacity:1;filter:alpha(opacity=100);}

/* Content */
/* ------------------------------*/
.content-box-outer {clear:both; background:#fff; border-right:solid 1px #b5b5b5; border-bottom:solid 1px #b5b5b5;
    -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; 
    -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;
    -khtml-border-bottom-left-radius:5px; -khtml-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.content-box-left { width: auto; height: auto; margin-right: 200px; padding: 40px; min-height: 450px; }
.content-box-full { width: auto; height: auto; padding: 40px; min-height: 450px; }

/* Right menu */
.content-box-right { width: 200px; float: right; min-height: 450px; margin-right:5px;
    background: #fff url(images/right-menu-bkg.jpg) no-repeat scroll top left; padding: 40px 0 0 0; }
.content-box-right ul { margin:0; padding:0; list-style:none; font-size:12px;}    
.content-box-right li a { text-decoration: none; padding:10px 10px 10px 20px; display:block; color:#000;
    border-top: 1px solid transparent; border-bottom: 1px solid transparent; width:150px;}
li.content-box-selected a { background: #FFF;  font-weight: bold; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; 
    border-right: 1px solid #ccc;}
.content-box-right a:hover {background: #FFF; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;}

/* Forms */
input[type="text"], input[type="password"], textarea, input[type="file"] {
    border: 1px solid #CCC; padding: 5px; color:#909090;}
select { border: 1px solid #CCC; padding: 4px; color:#909090;}
  
fieldset {padding: 10px; margin: 0 0 20px; border:none; border-top:solid 1px #dcdcdc;}
legend { font-weight: bolder; padding: 0 10px; margin-left: 5px; }

fieldset.hide { padding:0; margin:0; border:none;}
fieldset.hide legend { display:none;}

.tblForm { margin: 0 0 20px; border-collapse:collapse; }
.tblForm td { padding:0 20px 15px 0;}

.fl { margin:0; padding:0; list-style:none; margin: 0 0 20px;}
.fl li { margin:0 0 15px; overflow:hidden;}
    
label.lbl { display:block; margin:0 20px 5px 0; /*float:left; width:150px; text-align:right;*/}

.insetHelp {color:#a0a0a0;display:block;font-family:Arial, Sans-Serif;font-size:12px;font-style:italic;
            margin-left:25px;}
.belowHelp { color:#a0a0a0;display:block;font-family:Arial, Sans-Serif;font-size:12px;font-style:italic;
             /*margin-left:170px;*/}
.insetForm { margin:5px 0 0 25px;}
.filler { /*display:block; margin-left:170px; float:left; height:24px;*/}

.action_buttons { /*margin-left:170px;*/}
.btn { color: #696969; background: border: 1px solid #919191; padding: 5px 15px; margin: 0 5px 0  0; font-weight:bold;
    background: #dadada url( "images/gray-btn-bkg.png" ) repeat-x scroll 0 0; cursor: pointer; position:relative;
    font-size: 13px; font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    min-width:100px;}

.primarybtn { color: #002859; border: 1px solid #33779c; padding: 5px 15px; margin: 0 5px 0  0; font-weight:bold;
    background: #65a8cd url( "images/orange-btn-bkg.png" ) repeat-x scroll 0 0; cursor: pointer; position:relative;
    font-size: 13px; font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    min-width:100px;}

.btn:active, .primarybtn:active { top:1px;}
.btn:hover { background-position:0 -50px; }
.primarybtn:hover { background-position:0 -50px; }

.w300 { width: 300px; }
.subsection { display: block; clear: both; /*padding: 10px; margin: 10px 0;*/ }
.subsection2cols { width: 510px; display:inline-block; min-height: 20px;}
.subsectioncol1 { width: 250px; float:left;}
.subsectioncol2 { width: 250px; float:right;}
.sectionRow { vertical-align: middle; padding: 2px 0; clear:both;}
.sectionRow .lbl200 { margin-top: 0;}
.txt {border: 1px solid #CCC; padding: 5px; margin: 2px 0;}
.txt200 {border: 1px solid #CCC;  padding: 5px; margin: 2px 0;width: 200px;}
.lbl100 {display:block;	float:left;	width: 100px;padding: 10px 0 0 0;}
.lbl150 {display:block;float:left;vertical-align:bottom;width: 150px;padding: 3px 0;margin-top: 3px;}
.lbl200 {display:block;	float:left;	vertical-align:bottom;	width: 200px;	padding: 3px 0;	margin-top: 3px;}

/* Tables */
.beTable { border-collapse:collapse; border: 1px solid #dcdcdc; margin: 10px 0; width: 100%; }
.beTable th { padding: 5px; background-color:#dcdcdc; text-align: left; }
.beTable td { padding: 5px;	margin: 0; }
.beTable tr.alt td { background-color:#f0f0f0;}
.additionalForm { width:300px; vertical-align:top;}

.addNew {float:right; font-size:13px; font-weight:normal; padding-left:18px;
         background: transparent url("images/action-add.png") no-repeat scroll left center; }
#frmAddNew { display:none;	border: 1px solid #ccc;	padding: 10px;}

/* Footer  */
/* ------------------------------*/

#footer {font-size: .9em; width: 90%; padding: 5px 0 15px 30px;  margin: 5px 0 10px 0;}
#footer a {	color: #444;}

#RightList {padding:0; margin: 50px 0 0 0; list-style: none;}
#RightList li{ padding: 5px 0 5px 5px; border-bottom: 1px solid #ccc;}
#RightList li a{ color: #444; font-size: 1.2em;}
#RightList li a.selected{ color: #444; font-weight:bolder;}    

.banner h1 {
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	margin: 0px;
	letter-spacing: 1px;
	color: Silver;
}

.banner h2 {
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	color: Silver;
}

.main {
	border-style: solid;
	border-width: 1px;
	border-color: #B8C1CA;
	padding: 45px 10px 3px 10px;
	background-color: #F1F1F1;
	border-top: solid 1px #B8C1CA;
}

.settings {
	padding: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}

.settings h1 {
	margin: 0 0 10px 0;
	border-bottom: 1px solid silver;
}

.settings label {
	float: left;
	width: 200px;
}

.settings .cbox {
	padding: 2px 0 2px 0;
}

.settings .ddown {
	margin:0;
	padding:0;
}

.settings .ddown label {
	width: 200px;
	margin-top: 8px;
	margin-right: 3px;
}

.settings .cbox label {
	margin-top: 2px;
	font-size:1em;
}

.nowidth label {
	float: none;
	width: 0px;
}

td.label{
	vertical-align: top;
	padding-top: 5px;
}

.settings span label{
	float: none;
	display: inline;
	width: auto;
	padding-right: 20px;	
}

.settings span input[type="radio"]{
	border: none;
}

/*----------------------------
					Referrers
----------------------------*/

table.referrer td {
	padding: 2px 0;
	border-bottom: 1px solid silver;
}

table.referrer tr.alt td {
	background-color: White;
}

table.referrer caption {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 8px;
  display: block;
}

/*----------------------------
					Category
----------------------------*/

.category td {
	padding: 2px 10px;
  vertical-align: top;
}

.category td input {
	width: 200px;
}

.category td textarea {
	height: 70px;
	width: 400px;
}

/*-------------*/

.main input[type="submit"], .main input[type="button"] {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #B8C1CA;
}


.main input[type="submit"]:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

.settings input[type="submit"], .settings input[type="button"] {
	color: #666;
	background: #F1F1F1;
	border: 1px solid #B8C1CA;
}

.settings input[type="submit"]:hover, .settings input[type="button"]:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

input, select, textarea {
	color: #666;
	background: #FFFFFF;
	border: 1px solid #B8C1CA;
}

input[type="file"]:hover {
	cursor: pointer;
}

input[type="checkbox"] {
	border: none;
	background: none;
}

.info {
	background: url(images/status-info.png) 10px 15px no-repeat;
	padding:10px 10px 10px 40px;
	border: 1px solid #ccc; 
}

/* Extension settings */
.mgr input, .mgr select {
    margin: 5px 0 5px 0;
}
.mgrRadioList {
    border: 1px solid #ccc;
    margin: 5px 0 5px 0;
}
.mgrRadioList td {
    height:25px; 
    display:table-cell;
}
.mgrRadioList input {
    float:left; 
    width: 20px; 
    height: 20px; 
    border:0; 
}
.mgrRadioList label {
    display:inline-table; 
    float:right; 
    height:20px; 
    width:100px; 
    margin:7px 0 0 5px;
}
.mgrCheck {
    margin-top: 6px; 
    padding-right:5px; 
}
.mgrCheckLbl {
    margin-bottom:8px;
}
/*-----------------------------*/

#tagselector{
	background: white;
	border: 3px solid gray;
	width: 500px;	
	position: absolute;
	left: 553px;
	bottom: 40px;
	padding-bottom: 10px
}

#tagselector a{
	display: block;
	float: left;
	margin-right: 10px;
	padding: 2px 4px;
}

#contentTable {
    width: 100%;
}

.photo {
    width: 28px;
    border: 1px solid #ccc;
}

.gravatar {
    width: 38px;
    border: 0;
}

#StatusBox {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    display:block;
    width: 100%;
    z-index: 999;
}

.success, .warning, .validation {
    border: 1px solid #ccc;
    margin: 0;
    padding:8px 5px 8px 60px;
    background-repeat: no-repeat;
    background-position: 25px 5px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../pics/success.png');
    
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../pics/warning.png');
}

#ctl00_cphAdmin_cblCategories td {
    display: inline;
    white-space: nowrap;
}

/*-------------------------------------*/

label.error {
  color: red;
  padding-left: 5px;
}

#EditCommentLeftBox label.error {
  color: red;
  margin-left: 100px;
}

.req {
	color: red;
}

.hidden {
	display:none;
}

.clear {
    clear:both;
}

.comment_auth {
    font-weight:bold;
}



.loader {
    width: 24px;
    height:24px;
    display:inline-block;
    border: 0;
    position:relative;
    top:-4px;
    background: url('../pics/ajax-loader.gif') 0px 0px no-repeat;
    /*display: none;*/
}

.comment_date, comment_time {
    display:block;
    padding: 2px 0;
}
