<?xml version="1.0" encoding="utf-8"?>
<settings>
  <storagelocation>~/app_data/</storagelocation>
  <enablecountryincomments>True</enablecountryincomments>
  <searchcommentlabeltext>Include comments in search</searchcommentlabeltext>
  <enablerating>True</enablerating>
  <enablerelatedposts>True</enablerelatedposts>
  <removewhitespaceinstylesheets>True</removewhitespaceinstylesheets>
  <endorsement>http://www.dotnetblogengine.net/syndication.axd?format=rss</endorsement>
  <showlivepreview>True</showlivepreview>
  <enablecommentsearch>True</enablecommentsearch>
  <feedburnerusername />
  <authorname>My name</authorname>
  <displaycommentsonrecentposts>True</displaycommentsonrecentposts>
  <theme>Standard</theme>
  <iscommentsenabled>True</iscommentsenabled>
  <enablessl>False</enablessl>
  <postsperpage>10</postsperpage>
  <htmlheader />
  <syndicationformat>Rss</syndicationformat>
  <blogrollmaxlength>23</blogrollmaxlength>
  <geocodinglatitude>0</geocodinglatitude>
  <email>name@example.com</email>
  <dayscommentsareenabled>0</dayscommentsareenabled>
  <showdescriptioninpostlist>False</showdescriptioninpostlist>
  <blogrollvisibleposts>3</blogrollvisibleposts>
  <timezone>-2</timezone>
  <smtpusername>username</smtpusername>
  <searchdefaulttext>Enter search term</searchdefaulttext>
  <mssqlconnectionstring />
  <iscocommentenabled>False</iscocommentenabled>
  <trackingscript />
  <description>Short description of the blog</description>
  <enableopensearch>True</enableopensearch>
  <numberofrecentposts>10</numberofrecentposts>
  <displayratingsonrecentposts>True</displayratingsonrecentposts>
  <enablesearchhightlight>True</enablesearchhightlight>
  <searchbuttontext>Search</searchbuttontext>
  <name>Name of the blog</name>
  <culture>Auto</culture>
  <handlewwwsubdomain>add</handlewwwsubdomain>
  <contactformmessage>&lt;p&gt;I'll answer the mail as soon as I can.&lt;/p&gt;</contactformmessage>
  <smtppassword>password</smtppassword>
  <smtpserverport>25</smtpserverport>
  <smtpserver>mail.example.com</smtpserver>
  <contactthankmessage>&lt;h1&gt;Thank you&lt;/h1&gt;
&lt;p&gt;The message was sent.&lt;/p&gt;</contactthankmessage>
  <postsperfeed>15</postsperfeed>
  <geocodinglongitude>0</geocodinglongitude>
  <language>en-GB</language>
  <enablereferrertracking>False</enablereferrertracking>
  <enablecontactattachments>True</enablecontactattachments>
  <blogrollupdateminutes>60</blogrollupdateminutes>
  <sendmailoncomment>True</sendmailoncomment>
  <enablecommentsmoderation>True</enablecommentsmoderation>
  <enablehttpcompression>True</enablehttpcompression>
</settings>