
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[be_BlogRollItems](
	[BlogRollRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[BlogRollId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BlogUrl] [varchar](255) NOT NULL,
	[FeedUrl] [varchar](255) NULL,
	[Xfn] [varchar](255) NULL,
	[SortIndex] [int] NOT NULL,
 CONSTRAINT [PK_be_BlogRollItems] PRIMARY KEY CLUSTERED 
(
	[BlogRollRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET ANSI_PADDING OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Blogs](
	[BlogRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[BlogName] [nvarchar](255) NOT NULL,
	[Hostname] [nvarchar](255) NOT NULL,
	[IsAnyTextBeforeHostnameAccepted] [bit] NOT NULL,
	[StorageContainerName] [nvarchar](255) NOT NULL,
	[VirtualPath] [nvarchar](255) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsSiteAggregation] [bit] NOT NULL,
 CONSTRAINT [PK_be_Blogs] PRIMARY KEY CLUSTERED 
(
	[BlogRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Categories](
	[CategoryRowID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] DEFAULT newid()  NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[ParentID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_be_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_DataStoreSettings](
	[DataStoreSettingRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[ExtensionType] [nvarchar](50) NOT NULL,
	[ExtensionId] [nvarchar](100) NOT NULL,
	[Settings] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_be_DataStoreSettings] PRIMARY KEY CLUSTERED 
(
	[DataStoreSettingRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[be_FileStoreDirectory](
	[Id] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[FullPath] [varchar](1000) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastAccess] [datetime] NOT NULL,
	[LastModify] [datetime] NOT NULL,
 CONSTRAINT [PK_be_FileStoreDirectory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET ANSI_PADDING OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[be_FileStoreFiles](
	[FileID] [uniqueidentifier] NOT NULL,
	[ParentDirectoryID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[FullPath] [varchar](255) NOT NULL,
	[Contents] [varbinary](max) NOT NULL,
	[Size] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastAccess] [datetime] NOT NULL,
	[LastModify] [datetime] NOT NULL,
 CONSTRAINT [PK_be_FileStoreFiles] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET ANSI_PADDING OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[be_FileStoreFileThumbs](
	[thumbnailId] [uniqueidentifier] NOT NULL,
	[FileId] [uniqueidentifier] NOT NULL,
	[size] [int] NOT NULL,
	[contents] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_be_FileStoreFileThumbs] PRIMARY KEY CLUSTERED 
(
	[thumbnailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET ANSI_PADDING OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_PackageFiles](
	[PackageId] [nvarchar](128) NOT NULL,
	[FileOrder] [int] NOT NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[IsDirectory] [bit] NOT NULL,
 CONSTRAINT [PK_be_PackageFiles] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC,
	[FileOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Packages](
	[PackageId] [nvarchar](128) NOT NULL,
	[Version] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_be_Packages] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
GO

CREATE TABLE [dbo].[be_CustomFields](
	[CustomType] [nvarchar](100) NOT NULL,
	[ObjectId] [nvarchar](250) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](250) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Attribute] [nvarchar](250) NULL
)
GO

CREATE NONCLUSTERED INDEX [idx_be_CustomType_ObjectId_BlogId_Key] ON [dbo].[be_CustomFields] 
(
	[CustomType] ASC,
	[ObjectId] ASC,
	[BlogId] ASC,
	[Key] ASC
)
GO

SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Pages](
	[PageRowID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[PageID] [uniqueidentifier] DEFAULT newid()  NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[PageContent] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[IsPublished] [bit] NULL,
	[IsFrontPage] [bit] NULL,
	[Parent] [uniqueidentifier] NULL,
	[ShowInList] [bit] NULL,
	[Slug] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_be_Pages] PRIMARY KEY CLUSTERED 
(
	[PageRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_PingService](
	[PingServiceID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[Link] [nvarchar](255) NULL,
 CONSTRAINT [PK_be_PingService_1] PRIMARY KEY CLUSTERED 
(
	[PingServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_PostCategory](
	[PostCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_be_PostCategory_1] PRIMARY KEY CLUSTERED 
(
	[PostCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_PostComment](
	[PostCommentRowID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[PostCommentID] [uniqueidentifier] DEFAULT newid()  NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
	[ParentCommentID] [uniqueidentifier] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
	[Author] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[Comment] [nvarchar](max) NULL,
	[Country] [nvarchar](255) NULL,
	[Ip] [nvarchar](50) NULL,
	[IsApproved] [bit] NULL,
	[ModeratedBy] [nvarchar](100) NULL,
	[Avatar] [nvarchar](255) NULL,
	[IsSpam] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_be_PostComment] PRIMARY KEY CLUSTERED 
(
	[PostCommentRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_PostNotify](
	[PostNotifyID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
	[NotifyAddress] [nvarchar](255) NULL,
 CONSTRAINT [idx_be_PostCategory_BlogId_PostId] PRIMARY KEY CLUSTERED 
(
	[PostNotifyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Posts](
	[PostRowID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[PostID] [uniqueidentifier] DEFAULT newid()  NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[PostContent] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[Author] [nvarchar](50) NULL,
	[IsPublished] [bit] NULL,
	[IsCommentEnabled] [bit] NULL,
	[Raters] [int] NULL,
	[Rating] [real] NULL,
	[Slug] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_be_Posts] PRIMARY KEY CLUSTERED 
(
	[PostRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_PostTag](
	[PostTagID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
	[Tag] [nvarchar](50) NULL,
 CONSTRAINT [PK_be_PostTag] PRIMARY KEY CLUSTERED 
(
	[PostTagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Profiles](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[SettingName] [nvarchar](200) NULL,
	[SettingValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_be_Profiles] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_QuickNotes](
	[QuickNoteID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [uniqueidentifier] NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[Updated] [datetime] NULL,
 CONSTRAINT [PK_be_QuickNotes] PRIMARY KEY CLUSTERED 
(
	[QuickNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_QuickSettings](
	[QuickSettingID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[SettingName] [nvarchar](255) NOT NULL,
	[SettingValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_be_QuickSettings] PRIMARY KEY CLUSTERED 
(
	[QuickSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[be_Referrers](
	[ReferrerRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[ReferrerId] [uniqueidentifier] NOT NULL,
	[ReferralDay] [datetime] NOT NULL,
	[ReferrerUrl] [varchar](255) NOT NULL,
	[ReferralCount] [int] NOT NULL,
	[Url] [varchar](255) NULL,
	[IsSpam] [bit] NULL,
 CONSTRAINT [PK_be_Referrers] PRIMARY KEY CLUSTERED 
(
	[ReferrerRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET ANSI_PADDING OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_RightRoles](
	[RightRoleRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[RightName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_be_RightRoles] PRIMARY KEY CLUSTERED 
(
	[RightRoleRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Rights](
	[RightRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[RightName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_be_Rights] PRIMARY KEY CLUSTERED 
(
	[RightRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_be_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Settings](
	[SettingRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[SettingName] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_be_Settings] PRIMARY KEY CLUSTERED 
(
	[SettingRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_StopWords](
	[StopWordRowId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[StopWord] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_be_StopWords] PRIMARY KEY CLUSTERED 
(
	[StopWordRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_UserRoles](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_be_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[be_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[EmailAddress] [nvarchar](100) NULL,
 CONSTRAINT [PK_be_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET IDENTITY_INSERT [dbo].[be_BlogRollItems] ON 

GO
INSERT [dbo].[be_BlogRollItems] ([BlogRollRowId], [BlogId], [BlogRollId], [Title], [Description], [BlogUrl], [FeedUrl], [Xfn], [SortIndex]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'890f00e5-3a86-4cba-b85b-104063964a87', N'Ben Amada', N'adventures in application development', N'http://allben.net/', N'http://feeds.feedburner.com/allben', N'contact', 5)
GO
INSERT [dbo].[be_BlogRollItems] ([BlogRollRowId], [BlogId], [BlogRollId], [Title], [Description], [BlogUrl], [FeedUrl], [Xfn], [SortIndex]) VALUES (2, N'27604f05-86ad-47ef-9e05-950bb762570c', N'7f906880-4316-47f1-a934-1a912fc02f8b', N'Russell van der Walt', N'an adventure in web technologies', N'http://blog.ruski.co.za/', N'http://feeds.feedburner.com/rusvdw', N'contact', 4)
GO
INSERT [dbo].[be_BlogRollItems] ([BlogRollRowId], [BlogId], [BlogRollId], [Title], [Description], [BlogUrl], [FeedUrl], [Xfn], [SortIndex]) VALUES (3, N'27604f05-86ad-47ef-9e05-950bb762570c', N'dcdaa78b-0b77-4691-99f0-1bb6418945a1', N'Ruslan Tur', N'.NET and Open Source: better together', N'http://rtur.net/blog/', N'http://feeds.feedburner.com/rtur', N'contact', 2)
GO
SET IDENTITY_INSERT [dbo].[be_BlogRollItems] OFF
GO
SET IDENTITY_INSERT [dbo].[be_Blogs] ON 

GO
INSERT [dbo].[be_Blogs] ([BlogRowId], [BlogId], [BlogName], [Hostname], [IsAnyTextBeforeHostnameAccepted], [StorageContainerName], [VirtualPath], [IsPrimary], [IsActive], [IsSiteAggregation]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'Primary', N'', 0, N'', N'~/', 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[be_Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[be_Categories] ON 

GO
INSERT [dbo].[be_Categories] ([CategoryRowID], [BlogID], [CategoryID], [CategoryName], [Description], [ParentID]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'f5962d4c-6c54-4a99-860c-f7e8c1f255d9', N'General', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[be_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[be_DataStoreSettings] ON 

GO
SET IDENTITY_INSERT [dbo].[be_DataStoreSettings] OFF
GO
INSERT [dbo].[be_PackageFiles] ([PackageId], [FileOrder], [FilePath], [IsDirectory]) VALUES (N'JQ-Mobile', 1, N'App_Code\JQ-Mobile', 1)
GO
INSERT [dbo].[be_PackageFiles] ([PackageId], [FileOrder], [FilePath], [IsDirectory]) VALUES (N'JQ-Mobile', 2, N'App_Code\JQ-Mobile\ThemeHelper.cs', 0)
GO
INSERT [dbo].[be_PackageFiles] ([PackageId], [FileOrder], [FilePath], [IsDirectory]) VALUES (N'JQ-Mobile', 3, N'themes\JQ-Mobile', 1)
GO
INSERT [dbo].[be_Packages] ([PackageId], [Version]) VALUES (N'JQ-Mobile', N'1.3.0')
GO
SET IDENTITY_INSERT [dbo].[be_PingService] ON 

GO
INSERT [dbo].[be_PingService] ([PingServiceID], [BlogID], [Link]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'http://rpc.technorati.com/rpc/ping')
GO
INSERT [dbo].[be_PingService] ([PingServiceID], [BlogID], [Link]) VALUES (2, N'27604f05-86ad-47ef-9e05-950bb762570c', N'http://rpc.pingomatic.com/rpc2')
GO
INSERT [dbo].[be_PingService] ([PingServiceID], [BlogID], [Link]) VALUES (3, N'27604f05-86ad-47ef-9e05-950bb762570c', N'http://ping.feedburner.com')
GO
SET IDENTITY_INSERT [dbo].[be_PingService] OFF
GO
SET IDENTITY_INSERT [dbo].[be_PostCategory] ON 

GO
INSERT [dbo].[be_PostCategory] ([PostCategoryID], [BlogID], [PostID], [CategoryID]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'f50d9b47-ed25-4925-a03a-3dab5fd45b28', N'f5962d4c-6c54-4a99-860c-f7e8c1f255d9')
GO
SET IDENTITY_INSERT [dbo].[be_PostCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[be_Posts] ON 

GO
SET IDENTITY_INSERT [dbo].[be_Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[be_PostTag] ON 

GO
INSERT [dbo].[be_PostTag] ([PostTagID], [BlogID], [PostID], [Tag]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'f50d9b47-ed25-4925-a03a-3dab5fd45b28', N'blog')
GO
INSERT [dbo].[be_PostTag] ([PostTagID], [BlogID], [PostID], [Tag]) VALUES (2, N'27604f05-86ad-47ef-9e05-950bb762570c', N'f50d9b47-ed25-4925-a03a-3dab5fd45b28', N'welcome')
GO
SET IDENTITY_INSERT [dbo].[be_PostTag] OFF
GO
SET IDENTITY_INSERT [dbo].[be_RightRoles] ON 

GO
INSERT [dbo].[be_RightRoles] ([RightRoleRowId], [BlogId], [RightName], [Role]) VALUES (26066, N'27604f05-86ad-47ef-9e05-950bb762570c', N'ViewDetailedErrorMessages', N'Administrators')
GO
INSERT [dbo].[be_RightRoles] ([RightRoleRowId], [BlogId], [RightName], [Role]) VALUES (26067, N'27604f05-86ad-47ef-9e05-950bb762570c', N'AccessAdminPages', N'Administrators')
GO
INSERT [dbo].[be_RightRoles] ([RightRoleRowId], [BlogId], [RightName], [Role]) VALUES (26068, N'27604f05-86ad-47ef-9e05-950bb762570c', N'AccessAdminPages', N'Editors')
GO
SET IDENTITY_INSERT [dbo].[be_RightRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[be_Rights] ON 

GO
INSERT [dbo].[be_Rights] ([RightRowId], [BlogId], [RightName]) VALUES (16041, N'27604f05-86ad-47ef-9e05-950bb762570c', N'None')
GO
INSERT [dbo].[be_Rights] ([RightRowId], [BlogId], [RightName]) VALUES (16042, N'27604f05-86ad-47ef-9e05-950bb762570c', N'ViewDetailedErrorMessages')
GO
INSERT [dbo].[be_Rights] ([RightRowId], [BlogId], [RightName]) VALUES (16043, N'27604f05-86ad-47ef-9e05-950bb762570c', N'AccessAdminPages')
GO
SET IDENTITY_INSERT [dbo].[be_Rights] OFF
GO
SET IDENTITY_INSERT [dbo].[be_Roles] ON 

GO
INSERT [dbo].[be_Roles] ([RoleID], [BlogID], [Role]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'Administrators')
GO
INSERT [dbo].[be_Roles] ([RoleID], [BlogID], [Role]) VALUES (6, N'27604f05-86ad-47ef-9e05-950bb762570c', N'Anonymous')
GO
INSERT [dbo].[be_Roles] ([RoleID], [BlogID], [Role]) VALUES (2, N'27604f05-86ad-47ef-9e05-950bb762570c', N'Editors')
GO
SET IDENTITY_INSERT [dbo].[be_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[be_Settings] ON 

GO
INSERT [dbo].[be_Settings] ([SettingRowId], [BlogId], [SettingName], [SettingValue]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'administratorrole', N'Administrators')
GO
INSERT [dbo].[be_Settings] ([SettingRowId], [BlogId], [SettingName], [SettingValue]) VALUES (2, N'27604f05-86ad-47ef-9e05-950bb762570c', N'alternatefeedurl', N'')
GO
INSERT [dbo].[be_Settings] ([SettingRowId], [BlogId], [SettingName], [SettingValue]) VALUES (3, N'27604f05-86ad-47ef-9e05-950bb762570c', N'authorname', N'My name')
GO
SET IDENTITY_INSERT [dbo].[be_Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[be_StopWords] ON 

GO
INSERT [dbo].[be_StopWords] ([StopWordRowId], [BlogId], [StopWord]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'a')
GO
INSERT [dbo].[be_StopWords] ([StopWordRowId], [BlogId], [StopWord]) VALUES (2, N'27604f05-86ad-47ef-9e05-950bb762570c', N'about')
GO
INSERT [dbo].[be_StopWords] ([StopWordRowId], [BlogId], [StopWord]) VALUES (3, N'27604f05-86ad-47ef-9e05-950bb762570c', N'actually')
GO
SET IDENTITY_INSERT [dbo].[be_StopWords] OFF
GO
SET IDENTITY_INSERT [dbo].[be_UserRoles] ON 

GO
INSERT [dbo].[be_UserRoles] ([UserRoleID], [BlogID], [UserName], [Role]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'Admin', N'Administrators')
GO
SET IDENTITY_INSERT [dbo].[be_UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[be_Users] ON 

GO
INSERT [dbo].[be_Users] ([UserID], [BlogID], [UserName], [Password], [LastLoginTime], [EmailAddress]) VALUES (1, N'27604f05-86ad-47ef-9e05-950bb762570c', N'Admin', N'', CAST(0x00009EC80148FC65 AS DateTime), N'email@example.com')
GO
SET IDENTITY_INSERT [dbo].[be_Users] OFF
GO
CREATE NONCLUSTERED INDEX [idx_be_BlogRollItems_BlogId] ON [dbo].[be_BlogRollItems]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE UNIQUE NONCLUSTERED INDEX [idx_be_Categories_BlogID_CategoryID] ON [dbo].[be_Categories]
(
	[BlogID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [idx_be_DataStoreSettings_BlogId_ExtensionType_TypeID] ON [dbo].[be_DataStoreSettings]
(
	[BlogId] ASC,
	[ExtensionType] ASC,
	[ExtensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_Pages_BlogId_PageId] ON [dbo].[be_Pages]
(
	[BlogID] ASC,
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_PingService_BlogId] ON [dbo].[be_PingService]
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_PostCategory_BlogId_CategoryId] ON [dbo].[be_PostCategory]
(
	[BlogID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_PostCategory_BlogId_PostId] ON [dbo].[be_PostCategory]
(
	[BlogID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_PostComment_BlogId_PostId] ON [dbo].[be_PostComment]
(
	[BlogID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [FK_PostID] ON [dbo].[be_PostNotify]
(
	[BlogID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE UNIQUE NONCLUSTERED INDEX [be_Posts_BlogID_PostID] ON [dbo].[be_Posts]
(
	[BlogID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_PostTag_BlogId_PostId] ON [dbo].[be_PostTag]
(
	[BlogID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [idx_be_Profiles_BlogId_UserName] ON [dbo].[be_Profiles]
(
	[BlogID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [idx_be_NoteId_BlogId_UserName] ON [dbo].[be_QuickNotes]
(
	[NoteID] ASC,
	[BlogID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_Referrers_BlogId] ON [dbo].[be_Referrers]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_RightRoles_BlogId] ON [dbo].[be_RightRoles]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_Rights_BlogId] ON [dbo].[be_Rights]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [idx_be_Roles_BlogID_Role] ON [dbo].[be_Roles]
(
	[BlogID] ASC,
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_Settings_BlogId] ON [dbo].[be_Settings]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_StopWords_BlogId] ON [dbo].[be_StopWords]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
CREATE NONCLUSTERED INDEX [idx_be_UserRoles_BlogId] ON [dbo].[be_UserRoles]
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [idx_be_Users_BlogId_UserName] ON [dbo].[be_Users]
(
	[BlogID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
ALTER TABLE [dbo].[be_Blogs] ADD  CONSTRAINT [DF_be_Blogs_IsSiteAggregation]  DEFAULT ((0)) FOR [IsSiteAggregation]
GO
ALTER TABLE [dbo].[be_Pages] ADD  CONSTRAINT [DF__be_Pages__IsDele__0425A276]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[be_PostComment] ADD  CONSTRAINT [DF__be_PostCo__Paren__173876EA]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ParentCommentID]
GO
ALTER TABLE [dbo].[be_PostComment] ADD  CONSTRAINT [DF__be_PostCo__IsSpa__182C9B23]  DEFAULT ((0)) FOR [IsSpam]
GO
ALTER TABLE [dbo].[be_PostComment] ADD  CONSTRAINT [DF__be_PostCo__IsDel__1920BF5C]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[be_Posts] ADD  CONSTRAINT [DF__be_Posts__IsDele__09DE7BCC]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[be_Referrers] ADD  CONSTRAINT [DF_be_Referrers_Day]  DEFAULT (getdate()) FOR [ReferralDay]
GO
ALTER TABLE [dbo].[be_FileStoreFiles]  WITH CHECK ADD  CONSTRAINT [FK_be_FileStoreFiles_be_FileStoreDirectory] FOREIGN KEY([ParentDirectoryID])
REFERENCES [dbo].[be_FileStoreDirectory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[be_FileStoreFiles] CHECK CONSTRAINT [FK_be_FileStoreFiles_be_FileStoreDirectory]
GO
ALTER TABLE [dbo].[be_FileStoreFileThumbs]  WITH CHECK ADD  CONSTRAINT [FK_be_FileStoreFileThumbs_be_FileStoreFiles] FOREIGN KEY([FileId])
REFERENCES [dbo].[be_FileStoreFiles] ([FileID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[be_FileStoreFileThumbs] CHECK CONSTRAINT [FK_be_FileStoreFileThumbs_be_FileStoreFiles]
GO
ALTER TABLE [dbo].[be_PostCategory]  WITH CHECK ADD  CONSTRAINT [FK_be_PostCategory_be_Categories] FOREIGN KEY([BlogID], [CategoryID])
REFERENCES [dbo].[be_Categories] ([BlogID], [CategoryID])
GO
ALTER TABLE [dbo].[be_PostCategory] CHECK CONSTRAINT [FK_be_PostCategory_be_Categories]
GO
ALTER TABLE [dbo].[be_PostCategory]  WITH CHECK ADD  CONSTRAINT [FK_be_PostCategory_be_Posts] FOREIGN KEY([BlogID], [PostID])
REFERENCES [dbo].[be_Posts] ([BlogID], [PostID])
GO
ALTER TABLE [dbo].[be_PostCategory] CHECK CONSTRAINT [FK_be_PostCategory_be_Posts]
GO
ALTER TABLE [dbo].[be_PostComment]  WITH CHECK ADD  CONSTRAINT [FK_be_PostComment_be_Posts] FOREIGN KEY([BlogID], [PostID])
REFERENCES [dbo].[be_Posts] ([BlogID], [PostID])
GO
ALTER TABLE [dbo].[be_PostComment] CHECK CONSTRAINT [FK_be_PostComment_be_Posts]
GO
ALTER TABLE [dbo].[be_PostNotify]  WITH CHECK ADD  CONSTRAINT [FK_be_PostNotify_be_Posts] FOREIGN KEY([BlogID], [PostID])
REFERENCES [dbo].[be_Posts] ([BlogID], [PostID])
GO
ALTER TABLE [dbo].[be_PostNotify] CHECK CONSTRAINT [FK_be_PostNotify_be_Posts]
GO
ALTER TABLE [dbo].[be_PostTag]  WITH CHECK ADD  CONSTRAINT [FK_be_PostTag_be_Posts] FOREIGN KEY([BlogID], [PostID])
REFERENCES [dbo].[be_Posts] ([BlogID], [PostID])
GO
ALTER TABLE [dbo].[be_PostTag] CHECK CONSTRAINT [FK_be_PostTag_be_Posts]
GO
