<table id="Comments" class="beTable rounded" style="width:100%">
    <thead>
        <tr>
	        <th width="20"><input type="checkbox" id="selectall" onclick="toggleAllChecks(this)" /></th>
            <th width="38">&nbsp;</th>
            <th width="auto">Comment</th>
	        <th width="120">Ip</th>
	        <th width="100">Date</th>
            <th width="60">&nbsp;</th>
	        <th width="60">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {#foreach $T.d as cmt}
        <tr id="{$T.cmt.Id}" class="{#cycle values=['','alt']}">
            <td><input type="checkbox" {#if $T.cmt.HasChildred} disabled {#/if} class="chk"/></td>
            <td>{$T.cmt.Avatar}</td>
            <td><span class="commenttitle">{$T.cmt.Title}</span>
                {$T.cmt.Teaser}</td>
            <td>{$T.cmt.Ip}</td>
            <td><span class="comment_date">{$T.cmt.Date}</span><span class="comment_time">{$T.cmt.Time}</span></td>
            <td class="btnRowEdit" align="center"><a href="#" onclick="return EditComment('{$T.cmt.Id}');">Edit</a></td>
            <td class="btnRowDelete" align="center">{#if $T.cmt.HasChildred == false}<a href="#" onclick="return DeleteComment('{$T.cmt.Id}');">Delete</a>{#/if}</td>
        </tr>
        {#/for}
    </tbody>
</table>
