<table id="Pages" class="beTable rounded" style="width:100%">
    <thead>
        <tr>
	        <th width="20"><input type="checkbox" id="selectall" onclick="toggleAllChecks(this)" /></th>
            <th width="auto">Title</th>
            <th width="100">Parent</th>
            <th width="100">Show In List</th>
            <th width="100">Published</th>
	        <th width="100">Date</th>
            <th width="60">&nbsp;</th>
	        <th width="60">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {#foreach $T.d as p}
        <tr id="{$T.p.Id}" class="{#cycle values=['','alt']}">
            <td><input type="checkbox" class="chk"/></td>
            <td><a href="EditPage.aspx?id={$T.p.Id}">{$T.p.Title}</a></td>
            <td><span>{$T.p.ParentTitle}</span></td>
            <td><input type="checkbox" disabled {#if $T.p.ShowInList == true}checked{#/if} /></td>
            <td><input type="checkbox" disabled {#if $T.p.IsPublished == true}checked{#/if} /></td>
            <td><span class="comment_date">{$T.p.Date}</span><span class="comment_time">{$T.p.Time}</span></td>
            <td align="center"><a href="EditPage.aspx?id={$T.p.Id}">Edit</a></td>
            <td align="center">{#if $T.p.HasChildred == false}<a href="#" onclick="return DeletePage(this);">Delete</a>{#/if}</td>
        </tr>
        {#/for}
    </tbody>
</table>
