<fieldset class="rounded">
    <legend>Personal Details</legend>
    <div class="subsection2cols">
        <div class="subsectioncol1">
            <span class="lbl200">Display Name</span>
            <input type="text" id="txtDispalayName" class="txt200" value="{$T.d.DisplayName}" />

            <span class="lbl200">First Name</span>
            <input type="text" id="txtFirstName" class="txt200" value="{$T.d.FirstName}" />

            <span class="lbl200">Middle Name</span>
            <input type="text" id="txtMiddleName" class="txt200" value="{$T.d.MiddleName}" />

            <span class="lbl200">Last Name</span>
            <input type="text" id="txtLastName" class="txt200" value="{$T.d.LastName}" />
        </div>
        <div class="subsectioncol2">
            <span class="lbl200 indent">Email</span>
            <input type="text" id="txtEmail" class="txt200" value="{$T.d.EmailAddress}" />

            <span class="lbl200">Birthday</span>
            <input type="text" id="txtBirthday" class="txt200" value="{formatJSONDate($T.d.Birthday)}" />

            <span class="lbl200">Photo URL</span>
            <input type="text" id="txtPhotoURL" class="txt200" value="{$T.d.PhotoURL}" />

            <span class="lbl200">&nbsp;</span>
            <div class="clear"></div>
            <div style="padding-top: 8px">
                <input type="checkbox" id="chkPrivate" {#if $T.d.IsPrivate} checked {#/if} />
                <span class="lbl">Is Private</span>
            </div>
        </div>
    </div>
</fieldset>