<table id="UserService" class="beTable rounded">
  <thead>
    <tr>
	  <th width="20"><input type="checkbox" id="selectall" onclick="toggleAllChecks(this)" /></th>
      <th width="220">Name</th>
	  <th width="auto">Email</th>
	  <th width="80">&nbsp;</th>
      <th width="80">&nbsp;</th>
	  <th width="80">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {#foreach $T.d as post}
	<tr id="{$T.post.UserName}" class="{#cycle values=['','alt']}">
	  <td><input type="checkbox" name="chk"{$T.post.UserName} class="chk"/></td>
      <td>{$T.post.UserName}</td>
      <td class="editable">{$T.post.Email}</td>
      <td align="center" style="vertical-align:middle"><a href="#" class="editButton">Edit</a></td>
	  <td align="center" style="vertical-align:middle"><a href="#" class="deleteButton">Delete</a></td>
	  <td align="center" style="vertical-align:middle"><a href="Profile.aspx?id={$T.post.UserName}">Profile</a></td>
    </tr>
    {#/for}
  </tbody>
</table>