<div class="subnav admin-views-subnav" data-ng-controller="SubNavController">
    <div class="container">
        <ul class="nav nav-pills">
            <li data-ng-class="{ active: isActive('/comments')}"><a href="#/comments">Comments</a></li>
            <li data-ng-class="{ active: isActive('/comments/pending')}"><a href="#/comments/pending">Pending</a></li>
            <li data-ng-class="{ active: isActive('/comments/spam')}"><a href="#/comments/spam">Spam</a></li>
            <li data-ng-class="{ active: isActive('/comments/pingbacks')}"><a href="#/comments/pingbacks">Pingbacks</a></li>
        </ul>
    </div>
</div>
