<div class="subnav admin-views-subnav" data-ng-controller="SubNavController">
    <div class="container">
        <ul class="nav nav-pills">
            <li data-ng-class="{ active: isActive('/settings')}"><a href="#/settings">Basic</a></li>
            <li data-ng-class="{ active: isActive('/settings/advanced')}"><a href="#/settings/advanced">Advanced</a></li>
            <li data-ng-class="{ active: isActive('/settings/feed')}"><a href="#/settings/feed">Feed</a></li>
            <li data-ng-class="{ active: isActive('/settings/email')}"><a href="#/settings/email">Email</a></li>
            <li data-ng-class="{ active: isActive('/settings/controls')}"><a href="#/settings/controls">Controls</a></li>
            <li data-ng-class="{ active: isActive('/settings/customecode')}"><a href="#/settings/customecode">Custome code</a></li>
            <li data-ng-class="{ active: isActive('/settings/comments')}"><a href="#/settings/comments">Comments</a></li>
            <!--<li data-ng-class="{ active: isActive('/settings/pingservices')}"><a href="#/settings/pingservices">Ping serivices</a></li>-->
            <li data-ng-class="{ active: isActive('/settings/importexport')}"><a href="#/settings/importexport">Import export</a></li>
        </ul>
    </div>
</div>
