<div class="subnav admin-views-subnav" data-ng-controller="SubNavController">
    <div class="container">
        <ul class="nav nav-pills">
            <li data-ng-class="{ active: isActive('/content')}"><a href="#/content">Posts</a></li>
            <li data-ng-class="{ active: isActive('/content/comments')}"><a href="#/content/comments">Comments</a></li>
            <li data-ng-class="{ active: isActive('/content/pages')}"><a href="#/content/pages">Pages</a></li>
            <li data-ng-class="{ active: isActive('/content/categories')}"><a href="#/content/categories">Categories</a></li>
            <li data-ng-class="{ active: isActive('/content/tags')}"><a href="#/content/tags">Tags</a></li>
        </ul>
    </div>
</div>
