@using BlogEngine.Core
@using BlogEngine.Core.Web.Extensions

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="@Href("~/admin/style.css")" rel="stylesheet" type="text/css" /> 
        <script src="@Href("~/Scripts/jquery.js")" type="text/javascript"></script>
        <script src="@Href("~/admin/admin.js")" type="text/javascript"></script>
        <title></title>
    </head>
    <body>
        <h1>Extensions</h1>
        <ul id="ulExtensions">
        @foreach (KeyValuePair<string, ManagedExtension> ext in ExtensionManager.Extensions)
        {
            <li>@ext.Key</li>
        }
        </ul>
        <div>
            <a href="#" onclick="return Toggle('ulExtensions');">Toggle</a>
        </div>
    </body>
</html>
