@{
    Page.Title = Resources.labels.extensions;
    Layout = "../_Layout.cshtml";
}

@section head {
    
}

<h1>Extensions</h1>
<ul id="ulExtensions">
@foreach (KeyValuePair<string, BlogEngine.Core.Web.Extensions.ManagedExtension> ext in BlogEngine.Core.Web.Extensions.ExtensionManager.Extensions)
{
    <li>@ext.Key</li>
}
</ul>
<div>
    <a href="#" onclick="return Toggle('ulExtensions');">Toggle</a>
</div>
