<?xml version="1.0"?>
<configuration>
  
	<configSections>
		<sectionGroup name="BlogEngine">
			<section name="blogProvider" type="BlogEngine.Core.Providers.BlogProviderSection, BlogEngine.Core" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	
  <BlogEngine>
		<blogProvider defaultProvider="XmlBlogProvider">
			<providers>
				<add name="XmlBlogProvider" type="BlogEngine.Core.Providers.XmlBlogProvider"/>
				<add name="MSSQLBlogProvider" type="BlogEngine.Core.Providers.MSSQLBlogProvider"/>
			</providers>
		</blogProvider>
	</BlogEngine>
	
  <appSettings>
		<add key="SettingsFile" value="~/app_data/settings.xml"/>
	</appSettings>
	
  <system.web>
    
		<compilation debug="true" batch="true" />
    <customErrors mode="Off" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="auto" uiCulture="auto"/>
		<xhtmlConformance mode="Strict"/>
		<trust level="High"/>

    <authentication mode="Forms">
			<forms timeout="129600" name=".AUXBLOGENGINE" protection="All" slidingExpiration="true"/>
		</authentication>

    <pages buffer="true" enableSessionState="false">
			<controls>
				<add namespace="Controls" tagPrefix="blog"/>
			</controls>
		</pages>
	
    <membership defaultProvider="XmlMembershipProvider">
			<providers>
				<add name="XmlMembershipProvider" type="BlogEngine.Core.Providers.XmlMembershipProvider" description="XML membership provider" xmlFileName="~/App_Data/users.xml"/>
			</providers>
		</membership>

    <httpModules>
			<add name="UrlRewrite" type="BlogEngine.Core.Web.HttpModules.UrlRewrite"/>
			<add name="CompressionModule" type="BlogEngine.Core.Web.HttpModules.CompressionModule"/>
			<add name="ReferrerModule" type="BlogEngine.Core.Web.HttpModules.ReferrerModule"/>
		</httpModules>

    <httpHandlers>
			<add verb="*" path="microsummary.axd" type="BlogEngine.Core.Web.HttpHandlers.MicroSummary" validate="false"/>
			<add verb="*" path="file.axd" type="BlogEngine.Core.Web.HttpHandlers.FileHandler" validate="false"/>
			<add verb="*" path="image.axd" type="BlogEngine.Core.Web.HttpHandlers.ImageHandler" validate="false"/>
			<add verb="*" path="syndication.axd" type="BlogEngine.Core.Web.HttpHandlers.SyndicationHandler" validate="false"/>
      <add verb="*" path="commentfeed.axd" type="BlogEngine.Core.Web.HttpHandlers.CommentFeedHandler" validate="false"/>
			<add verb="*" path="sitemap.axd" type="BlogEngine.Core.Web.HttpHandlers.Sitemap" validate="false"/>
			<add verb="*" path="trackback.axd" type="BlogEngine.Core.Web.HttpHandlers.TrackbackHandler" validate="false"/>
			<add verb="*" path="pingback.axd" type="BlogEngine.Core.Web.HttpHandlers.PingbackHandler" validate="false"/>
			<add verb="*" path="opensearch.axd" type="BlogEngine.Core.Web.HttpHandlers.OpenSearchHandler" validate="false"/>
			<add verb="*" path="metaweblog.axd" type="BlogEngine.Core.API.MetaWeblog.MetaWeblogHandler" validate="false"/>
      <add verb="*" path="css.axd" type="BlogEngine.Core.Web.HttpHandlers.CssHandler" validate="false"/>      
	</httpHandlers>

  </system.web>
</configuration>
