<div id="alerts"></div>
<div class="editor-toolbar btn-toolbar" data-role="editor-toolbar" data-target="#editor">
    <div class="btn-group">
        <a class="btn btn-default btn-sm" ng-click="toggleEditor($event)" title="{{lbl.fullScreen}}"><i class="fa fa-desktop"></i></a>
        <a class="btn btn-default btn-sm" ng-click="source()" title="{{lbl.source}}"><i class="fa fa-code"></i></a>
    </div>
    <div class=" btn-group">
        @*<a class="btn btn-default btn-sm" data-ng-click="toggleEditor()" title="Html source"><b><i class="fa fa-code"></i></b></a>*@
        <a class="btn btn-default btn-sm " style="font-size:12px; padding:2px 5px;" data-edit="formatBlock <h2>"><b>H2</b></a>
        <a class="btn btn-default btn-sm" style="font-size:12px; padding:2px 5px;" data-edit="formatBlock <h3>"><b>H3</b></a>
        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="{{lbl.font}}"><i class="fa fa-font"></i><b class="caret"></b></a>
        <ul class="dropdown-menu"></ul>
    </div>
    <div class=" btn-group">
        <a class="btn btn-default btn-sm" data-edit="bold" title="{{lbl.bold}} (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
        <a class="btn btn-default btn-sm" data-edit="italic" title="{{lbl.italic}} (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
        <a class="btn btn-default btn-sm" data-edit="strikethrough" title="{{lbl.strikethrough}}"><i class="fa fa-strikethrough"></i></a>
        <a class="btn btn-default btn-sm" data-edit="underline" title="{{lbl.underline}} (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="{{lbl.hyperlink}}"><i class="fa fa-link"></i></a>
        <div class="dropdown-menu input-append add-url-btn clearfix">
            <div class="pull-left">
                <input class="form-control input-sm" placeholder="{{lbl.url}}" type="text" data-edit="createLink" />
            </div>
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus"></i>{{lbl.add}}</button>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="{{lbl.bulletList}}"><i class="fa fa-list-ul"></i></a>
        <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="{{lbl.numberList}}"><i class="fa fa-list-ol"></i></a>
        <a class="btn btn-default btn-sm" data-edit="outdent" title="{{lbl.reduceIndent}} (Shift+Tab)"><i class="fa fa-outdent"></i></a>
        <a class="btn btn-default btn-sm" data-edit="indent" title="{{lbl.indent}} (Tab)"><i class="fa fa-indent"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default btn-sm" data-edit="justifyleft" title="{{lbl.alignLeft}} (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
        <a class="btn btn-default btn-sm" data-edit="justifycenter" title="{{lbl.center}} (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
        <a class="btn btn-default btn-sm" data-edit="justifyright" title="{{lbl.alignRight}} (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
        <a class="btn btn-default btn-sm" data-edit="justifyfull" title="{{lbl.justify}} (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" id="pictureBtn" title="Insert picture (or just drag & drop)"><i class="fa fa-picture-o"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" onchange="angular.element(this).scope().uploadFile('image', this.files)" />
        <a class="btn btn-default" id="videoBtn" title="Insert video"><i class="fa fa-video-camera"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#videoBtn" onchange="angular.element(this).scope().uploadFile('video', this.files)" />
        <a class="btn btn-default" id="fileBtn" title="Attach file"><i class="fa fa-paperclip"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#fileBtn" onchange="angular.element(this).scope().uploadFile('file', this.files)" />
    </div>
    @*<div class="btn-group">
        <a class="btn btn-default btn-sm" data-edit="undo" title="{{lbl.undo}} (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
        <a class="btn btn-default btn-sm" data-edit="redo" title="{{lbl.redo}} (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-upload"></i><b class="caret"></b></a>
        <ul class="dropdown-menu ">
            <li>
                <a  id="pictureBtn"><i class="fa fa-picture-o"></i>Insert picture</a>
                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" onchange="angular.element(this).scope().uploadFile('image', this.files)" />
            </li>
            <li>
                <a id="videoBtn"><i class="fa fa-video-camera"></i>Insert video</a>
                <input type="file" data-role="magic-overlay" data-target="#videoBtn" onchange="angular.element(this).scope().uploadFile('video', this.files)" />
            </li>
            <li>
                <a id="fileBtn"><i class="fa fa-paperclip"></i>Attach file</a>
                <input type="file" data-role="magic-overlay" data-target="#fileBtn" onchange="angular.element(this).scope().uploadFile('file', this.files)" />
            </li>
        </ul>
    </div>*@
   
    @*<input type="text" data-edit="inserttext" class="btn btn-default btn-sm" id="voicebtn" x-webkit-speech="">*@
</div>
<div class="editro-switch">
    <div id="editor"><p>{{lbl.typeHere}}...</p></div>
</div>