
CREATE TABLE [be_BlogRollItems] (
  [BlogRollId] uniqueidentifier NOT NULL
, [Title] nvarchar(255) NOT NULL DEFAULT ''
, [Description] nvarchar(255) NULL DEFAULT ''
, [BlogUrl] nvarchar(255) NOT NULL DEFAULT ''
, [FeedUrl] nvarchar(255) NULL DEFAULT ''
, [Xfn] nvarchar(255) NULL DEFAULT ''
, [SortIndex] int NOT NULL
);
GO
CREATE TABLE [be_Categories] (
  [CategoryID] uniqueidentifier NOT NULL DEFAULT newid()
, [CategoryName] nvarchar(50) NULL DEFAULT ''
, [Description] nvarchar(200) NULL DEFAULT ''
, [ParentID] uniqueidentifier NULL
);
GO
CREATE TABLE [be_DataStoreSettings] (
  [ExtensionType] nvarchar(50) NOT NULL DEFAULT ''
, [ExtensionId] nvarchar(100) NOT NULL DEFAULT ''
, [Settings] ntext NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_Pages] (
  [PageID] uniqueidentifier NOT NULL DEFAULT newid()
, [Title] nvarchar(255) NULL DEFAULT ''
, [Description] ntext NULL DEFAULT ''
, [PageContent] ntext NULL DEFAULT ''
, [Keywords] ntext NULL DEFAULT ''
, [DateCreated] datetime NULL
, [DateModified] datetime NULL
, [IsPublished] bit NULL
, [IsFrontPage] bit NULL
, [Parent] uniqueidentifier NULL
, [ShowInList] bit NULL
, [Slug] nvarchar(255) NULL DEFAULT ''
);
GO
CREATE TABLE [be_PingService] (
  [PingServiceID] int NOT NULL  IDENTITY (9,1)
, [Link] nvarchar(255) NULL DEFAULT ''
);
GO
CREATE TABLE [be_PostCategory] (
  [PostCategoryID] int NOT NULL  IDENTITY (2,1)
, [PostID] uniqueidentifier NOT NULL
, [CategoryID] uniqueidentifier NOT NULL
);
GO
CREATE TABLE [be_PostComment] (
  [PostCommentID] uniqueidentifier NOT NULL DEFAULT newid()
, [PostID] uniqueidentifier NOT NULL
, [ParentCommentID] uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000'
, [CommentDate] datetime NOT NULL
, [Author] nvarchar(255) NULL DEFAULT ''
, [Email] nvarchar(255) NULL DEFAULT ''
, [Website] nvarchar(255) NULL DEFAULT ''
, [Comment] ntext NULL DEFAULT ''
, [Country] nvarchar(255) NULL DEFAULT ''
, [Ip] nvarchar(50) NULL DEFAULT ''
, [IsApproved] bit NULL
, [ModeratedBy] nvarchar(100) NULL DEFAULT ''
, [Avatar] nvarchar(255) NULL DEFAULT ''
, [IsSpam] bit NULL
, [IsDeleted] bit NULL
);
GO
CREATE TABLE [be_PostNotify] (
  [PostNotifyID] int NOT NULL  IDENTITY (1,1)
, [PostID] uniqueidentifier NOT NULL
, [NotifyAddress] nvarchar(255) NULL DEFAULT ''
);
GO
CREATE TABLE [be_Posts] (
  [PostID] uniqueidentifier NOT NULL DEFAULT newid()
, [Title] nvarchar(255) NULL DEFAULT ''
, [Description] ntext NULL DEFAULT ''
, [PostContent] ntext NULL DEFAULT ''
, [DateCreated] datetime NULL
, [DateModified] datetime NULL
, [Author] nvarchar(50) NULL DEFAULT ''
, [IsPublished] bit NULL
, [IsCommentEnabled] bit NULL
, [Raters] int NULL
, [Rating] real NULL
, [Slug] nvarchar(255) NULL DEFAULT ''
);
GO
CREATE TABLE [be_PostTag] (
  [PostTagID] int NOT NULL  IDENTITY (3,1)
, [PostID] uniqueidentifier NOT NULL
, [Tag] nvarchar(50) NULL DEFAULT ''
);
GO
CREATE TABLE [be_Profiles] (
  [ProfileID] int NOT NULL  IDENTITY (1,1)
, [UserName] nvarchar(100) NULL DEFAULT ''
, [SettingName] nvarchar(200) NULL DEFAULT ''
, [SettingValue] ntext NULL DEFAULT ''
);
GO
CREATE TABLE [be_Referrers] (
  [ReferrerId] uniqueidentifier NOT NULL
, [ReferralDay] datetime NOT NULL DEFAULT getdate()
, [ReferrerUrl] nvarchar(255) NOT NULL DEFAULT ''
, [ReferralCount] int NOT NULL
, [Url] nvarchar(255) NULL DEFAULT ''
, [IsSpam] bit NULL
);
GO
CREATE TABLE [be_Roles] (
  [RoleID] int NOT NULL  IDENTITY (3,1)
, [Role] nvarchar(100) NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_Settings] (
  [SettingName] nvarchar(50) NOT NULL DEFAULT ''
, [SettingValue] ntext NULL DEFAULT ''
);
GO
CREATE TABLE [be_StopWords] (
  [StopWord] nvarchar(50) NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_UserRoles] (
  [UserRoleID] int NOT NULL  IDENTITY (2,1)
, [UserID] int NOT NULL
, [RoleID] int NOT NULL
);
GO
CREATE TABLE [be_Users] (
  [UserID] int NOT NULL  IDENTITY (2,1)
, [UserName] nvarchar(100) NOT NULL DEFAULT ''
, [Password] nvarchar(255) NOT NULL DEFAULT ''
, [LastLoginTime] datetime NULL
, [EmailAddress] nvarchar(100) NULL DEFAULT ''
);
GO
INSERT INTO [be_BlogRollItems] ([BlogRollId],[Title],[Description],[BlogUrl],[FeedUrl],[Xfn],[SortIndex]) VALUES ('25e4d8da-3278-4e58-b0bf-932496dabc96',N'Mads Kristensen',N'Full featured simplicity in ASP.NET and C#',N'http://www.madskristensen.dk/',N'http://feeds.feedburner.com/netslave',N'contact',0);
GO
INSERT INTO [be_BlogRollItems] ([BlogRollId],[Title],[Description],[BlogUrl],[FeedUrl],[Xfn],[SortIndex]) VALUES ('ccc817ef-e760-482b-b82f-a6854663110f',N'Al Nyveldt',N'Adventures in Code and Other Stories',N'http://www.nyveldt.com/blog/',N'http://feeds.feedburner.com/razorant',N'contact',1);
GO
INSERT INTO [be_BlogRollItems] ([BlogRollId],[Title],[Description],[BlogUrl],[FeedUrl],[Xfn],[SortIndex]) VALUES ('dcdaa78b-0b77-4691-99f0-1bb6418945a1',N'Ruslan Tur',N'.NET and Open Source: better together',N'http://rtur.net/blog/',N'http://feeds.feedburner.com/rtur',N'contact',2);
GO
INSERT INTO [be_Categories] ([CategoryID],[CategoryName],[Description],[ParentID]) VALUES ('05366547-5c8e-4643-ad94-377d3f809ab8',N'General',N'',null);
GO
SET IDENTITY_INSERT [be_PingService] ON;
GO
INSERT INTO [be_PingService] ([PingServiceID],[Link]) VALUES (1,N'http://rpc.technorati.com/rpc/ping');
GO
INSERT INTO [be_PingService] ([PingServiceID],[Link]) VALUES (2,N'http://rpc.pingomatic.com/rpc2');
GO
INSERT INTO [be_PingService] ([PingServiceID],[Link]) VALUES (3,N'http://ping.feedburner.com');
GO
SET IDENTITY_INSERT [be_PingService] OFF;
GO
SET IDENTITY_INSERT [be_PostCategory] ON;
GO
INSERT INTO [be_PostCategory] ([PostCategoryID],[PostID],[CategoryID]) VALUES (1,'10ecdf6f-2cf7-447c-8ff7-223833550716','05366547-5c8e-4643-ad94-377d3f809ab8');
GO
SET IDENTITY_INSERT [be_PostCategory] OFF;
GO
SET IDENTITY_INSERT [be_PostTag] ON;
GO
INSERT INTO [be_PostTag] ([PostTagID],[PostID],[Tag]) VALUES (1,'10ecdf6f-2cf7-447c-8ff7-223833550716',N'blog');
GO
INSERT INTO [be_PostTag] ([PostTagID],[PostID],[Tag]) VALUES (2,'10ecdf6f-2cf7-447c-8ff7-223833550716',N'welcome');
GO
SET IDENTITY_INSERT [be_PostTag] OFF;
GO
SET IDENTITY_INSERT [be_Roles] ON;
GO
INSERT INTO [be_Roles] ([RoleID],[Role]) VALUES (1,N'Administrators');
GO
INSERT INTO [be_Roles] ([RoleID],[Role]) VALUES (2,N'Editors');
GO
SET IDENTITY_INSERT [be_Roles] OFF;
GO
INSERT INTO [be_Settings] ([SettingName],[SettingValue]) VALUES (N'administratorrole',N'Administrators');
GO
INSERT INTO [be_Settings] ([SettingName],[SettingValue]) VALUES (N'alternatefeedurl',N'');
GO
INSERT INTO [be_Settings] ([SettingName],[SettingValue]) VALUES (N'authorname',N'My name');
GO
INSERT INTO [be_StopWords] ([StopWord]) VALUES (N'a');
GO
INSERT INTO [be_StopWords] ([StopWord]) VALUES (N'about');
GO
INSERT INTO [be_StopWords] ([StopWord]) VALUES (N'actually');
GO
SET IDENTITY_INSERT [be_UserRoles] ON;
GO
INSERT INTO [be_UserRoles] ([UserRoleID],[UserID],[RoleID]) VALUES (1,1,1);
GO
SET IDENTITY_INSERT [be_UserRoles] OFF;
GO
SET IDENTITY_INSERT [be_Users] ON;
GO
INSERT INTO [be_Users] ([UserID],[UserName],[Password],[LastLoginTime],[EmailAddress]) VALUES (1,N'Admin',N'',{ts '2010-10-11 17:44:31.990'},N'email@example.com');
GO
SET IDENTITY_INSERT [be_Users] OFF;
GO
ALTER TABLE [be_BlogRollItems] ADD CONSTRAINT [PK_be_BlogRollItems_BlogRollId] PRIMARY KEY ([BlogRollId]);
GO
ALTER TABLE [be_Categories] ADD CONSTRAINT [PK_be_Categories_CategoryID] PRIMARY KEY ([CategoryID]);
GO
ALTER TABLE [be_Pages] ADD CONSTRAINT [PK_be_Pages_PageID] PRIMARY KEY ([PageID]);
GO
ALTER TABLE [be_PingService] ADD CONSTRAINT [PK_be_PingService_PingServiceID] PRIMARY KEY ([PingServiceID]);
GO
ALTER TABLE [be_PostCategory] ADD CONSTRAINT [PK_be_PostCategory_PostCategoryID] PRIMARY KEY ([PostCategoryID]);
GO
ALTER TABLE [be_PostComment] ADD CONSTRAINT [PK_be_PostComment_PostCommentID] PRIMARY KEY ([PostCommentID]);
GO
ALTER TABLE [be_PostNotify] ADD CONSTRAINT [PK_be_PostNotify_PostNotifyID] PRIMARY KEY ([PostNotifyID]);
GO
ALTER TABLE [be_Posts] ADD CONSTRAINT [PK_be_Posts_PostID] PRIMARY KEY ([PostID]);
GO
ALTER TABLE [be_PostTag] ADD CONSTRAINT [PK_be_PostTag_PostTagID] PRIMARY KEY ([PostTagID]);
GO
ALTER TABLE [be_Profiles] ADD CONSTRAINT [PK_be_Profiles_ProfileID] PRIMARY KEY ([ProfileID]);
GO
ALTER TABLE [be_Referrers] ADD CONSTRAINT [PK_be_Referrers_ReferrerId] PRIMARY KEY ([ReferrerId]);
GO
ALTER TABLE [be_Roles] ADD CONSTRAINT [PK_be_Roles_RoleID] PRIMARY KEY ([RoleID]);
GO
ALTER TABLE [be_Settings] ADD CONSTRAINT [PK_be_Settings_SettingName] PRIMARY KEY ([SettingName]);
GO
ALTER TABLE [be_StopWords] ADD CONSTRAINT [PK_be_StopWords_StopWord] PRIMARY KEY ([StopWord]);
GO
ALTER TABLE [be_UserRoles] ADD CONSTRAINT [PK_be_UserRoles_UserRoleID] PRIMARY KEY ([UserRoleID]);
GO
ALTER TABLE [be_Users] ADD CONSTRAINT [PK_be_Users_UserID] PRIMARY KEY ([UserID]);
GO
CREATE INDEX [I_TypeID] ON [be_DataStoreSettings] ([ExtensionType] ASC,[ExtensionId] ASC);
GO
CREATE INDEX [FK_CategoryID] ON [be_PostCategory] ([CategoryID] ASC);
GO
CREATE INDEX [FK_PostID] ON [be_PostCategory] ([PostID] ASC);
GO
CREATE INDEX [FK_PostID] ON [be_PostComment] ([PostID] ASC);
GO
CREATE INDEX [FK_PostID] ON [be_PostNotify] ([PostID] ASC);
GO
CREATE INDEX [FK_PostID] ON [be_PostTag] ([PostID] ASC);
GO
CREATE INDEX [I_UserName] ON [be_Profiles] ([UserName] ASC);
GO
ALTER TABLE [be_PostCategory] ADD CONSTRAINT [FK_be_PostCategory_be_Categories] FOREIGN KEY ([CategoryID]) REFERENCES [be_Categories]([CategoryID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [be_PostCategory] ADD CONSTRAINT [FK_be_PostCategory_be_Posts] FOREIGN KEY ([PostID]) REFERENCES [be_Posts]([PostID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [be_PostComment] ADD CONSTRAINT [FK_be_PostComment_be_Posts] FOREIGN KEY ([PostID]) REFERENCES [be_Posts]([PostID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [be_PostNotify] ADD CONSTRAINT [FK_be_PostNotify_be_Posts] FOREIGN KEY ([PostID]) REFERENCES [be_Posts]([PostID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [be_PostTag] ADD CONSTRAINT [FK_be_PostTag_be_Posts] FOREIGN KEY ([PostID]) REFERENCES [be_Posts]([PostID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [be_UserRoles] ADD CONSTRAINT [FK_be_UserRoles_be_Roles] FOREIGN KEY ([RoleID]) REFERENCES [be_Roles]([RoleID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [be_UserRoles] ADD CONSTRAINT [FK_be_UserRoles_be_Users] FOREIGN KEY ([UserID]) REFERENCES [be_Users]([UserID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO

